@import '../../scss/focus.scss';
@import '../../scss/shadow.scss';
@import '../../scss/animation.scss';

.btn {
    position: relative;
    overflow: hidden;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    width: 320px;
    max-width: 100%;
    height: 48px;

    &:focus {
        @include focus-outline();
    }

    &:hover {
        @include button-shadow();
    }

    &.primary {
        color: white;
        background: black;
        border: 1px solid black;
    }

    &.disabled {
        color: #808080;
        border: #a9a9a9;
        
        &:hover {
            cursor: initial;
            box-shadow: none;
        }
    }

    &.loading {
        &:after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            content: '';
            display: block;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255,0.15));
            @include loading-bar;
        }
    }


    &__content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        z-index: 1;
    }

}