.cat-list {
    width: 320px;
    max-width: 100%;
    margin: auto;
    padding: 24px 0;

    &__heading {
        padding: 12px 0;
        font-size: 16px;
        color: white;
    }

    &__name {
        padding: 12px 0;
        color: #808080;
    }
}