
.app {
    text-align: center;
    padding: 0 16px;
    height: 100vh;
    background-color: #003366;
    
    &__logo {
        max-width: 520px;
        height: auto;

        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: '';
            padding-top: 52%;
        }
    }

    &__header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    transition: all 0.3s linear;

        &.show-cats {
            min-height: 300px;
        }
    }

    &__body {
        max-height: calc(100% - 300px);
        overflow: auto;
    }
}