@mixin loading-bar {
    animation: keyFrameTranslateX 2000ms linear infinite;
}

@keyframes keyFrameTranslateX {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}